services:
  backend:
    image: cronserver-expressjs
    environment:
      NODE_ENV: $NODE_ENV
      MYSQL_HOST: $DOCKER_MYSQL_HOST
      MYSQL_USER: $DOCKER_MYSQL_USER
      MYSQL_PASS: $DOCKER_MYSQL_PASS
      MYSQL_CRON_DB: $DOCKER_MYSQL_CRON_DB
      AUTH_DISCOVERY_URI: $AUTH_DISCOVERY_URI
      AUTH_CLIENT_ID: $AUTH_CLIENT_ID
      AUTH_CLIENT_AUDIENCE: $AUTH_CLIENT_AUDIENCE
      TZ: local
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - '9550:9550'
    volumes:
      - $DOCKER_CERT_DIR:/etc/apache2/certs
