services:
  backend:
    image: cronserver-expressjs
    environment:
      NODE_ENV: production
      MYSQL_HOST: localhost
      MYSQL_USER: root
      MYSQL_PASS: example
      MYSQL_CRON_DB: cron_test
      AUTH_DISCOVERY_URI: https://auth.outlawdesigns.io/.well-known/openid-configuration
      AUTH_CLIENT_ID: cronsuite-server
      AUTH_CLIENT_AUDIENCE: https://cronservice.outlawdesigns.io
      TZ: America/Chicago
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - '9550:9550'
